@tailwind base;
@tailwind components;
@tailwind utilities;


.doted-bg {
    background-image:
        radial-gradient(rgb(138, 117, 240) 5%, transparent 10%),
        radial-gradient(rgb(248, 183, 131) 5%, transparent 10%);
    background-position: 0px 0px, 8px 8px;
    background-size: 16px 16px;
    background-color: rgb(243, 244, 246);
}

.slick-dots li button:before {
    color: #d47632 !important;
    font-size: 16px !important;
    margin-top: 4px !important;
}

.bg-doted-world-map {
    background-image: url('/assets/doted-world-map.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 16px;

}

.slick-slide .logo {
    padding: 0 12px;
}


.grid-container {
    /**
     * User input values.
     */
    --grid-layout-gap: 40px;
    --grid-column-count: 3;
    --grid-item--min-width: 100px;

    /**
     * Calculated values.
     */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);


    @media (max-width: 1348px) {
        --grid-column-count: 2;
        --grid-layout-gap: 20px;
    }

    @media (max-width: 800px) {
        --grid-column-count: 1;
        --grid-layout-gap: 15px;
    }
}